.App {
  background-color: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 610px;
  width: 1300px;
  margin-left: 70px;
  margin-top: 90px;
}

body {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 900;
}

.item {
  margin: 50px;
}

.List {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 215px;
}

.crossed {
  text-decoration: line-through 1px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

ul, li {
  list-style-type: none;
  padding: 5px;
  margin: 0px;
}

.delete {
  margin-top: 320px;
  margin-left: 265px;
  position: absolute;
}

input {
  width: 200px;
  padding: 5px;
  text-align: center;
}

button, input {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 900;
}

button {
  background-color: transparent;
  border: 1px solid black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.Items {
  margin-left: 705px;
  margin-top: 100px;
  position: absolute;
}

